<div class="body" id='main-content' data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}} {{/block}}
    {{#block "category_hero"}} {{/block}}
    <div class="container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal/modal}}
    {{> components/common/alert/alert-modal}}
</div>
