<nav aria-label="Breadcrumb">
    <ol class="breadcrumbs" itemscope itemtype="http://schema.org/BreadcrumbList">
        {{#unless theme_settings.hide_breadcrumbs }}
            {{#each breadcrumbs}}
                <li class="breadcrumb {{#if @last}}is-active{{/if}}" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="breadcrumb-label"
                       itemprop="item"
                       href="{{url}}"
                       {{#if @last}}aria-current="page"{{/if}}
                    >
                        <span itemprop="name">{{name}}</span>
                    </a>
                    <meta itemprop="position" content="{{add @index 1}}" />
                    {{#unless @last}}
                    <span class="iconify" data-icon="simple-line-icons:arrow-right" data-inline="false"></span>
                    {{/unless}}
                </li>
            {{/each}}
        {{/unless}}
    </ol>
</nav>