<footer class="footer" role="contentinfo">
    <div class="container">
        <a id="logo-footer" href="{{urls.home}}">
            {{> components/common/store-logo }}
        </a>
        
        {{> components/custom/menu-footer }}
        
        <div class="footer-info-col social-media">
            {{> components/custom/social-footer }}
        </div>
        
        <div class="footer-copyright">
            <p class="copyright"> All rights reserved {{moment format="YYYY"}}  &copy; {{settings.store_name}}</p>
        </div>
    </div>
    <div id="nanlite-angle">
        <span>Readily available, serviced and</span> <span>supported in the USA <a href="{{urls.home}}">Nanliteus.com</a></span>
    </div>
</footer>
