<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<div class="header-wrapper">
    {{> components/custom/pre-header }}

    <header class="header">
        <div class="header-container">
            <nav>
                <div class="logo-container">
                    <a href="{{urls.home}}">
                        {{> components/common/store-logo }}
                    </a>
                </div>
                <a href="#mobile-menu" class="mburger">
                    <div class="hamburger hamburger--spring">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                    </div>
                </a>
                {{> components/custom/menu-desktop }}
                {{> components/custom/menu-icons }}
            </nav>
        </div><!-- /header-container -->
    </header>
</div>

{{{region name="header_bottom"}}}
