{{#partial "html_id"}}layout-page-downloads{{/partial}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

 
<section class="content-text--custom">
    <h2>Nanlite App</h2>
    <ul>
        <li>Mobile application for wireless control of LED lights and related devices;</li>
        <li>With WIFI control box, it can control the brightness, color temperature and color of lighting equipment.</li>
        <li>Set and save different lighting scenes according to different lighting scene requirements,</li>
    </ul>

    <div class="appstore"><a href="#"><img src="https://store-16upsp8vsw.mybigcommerce.com/content/images/App_Store_Download-mix_480x480.png" alt=""></a></div>
    <div class="android-store"><a href="#"><img src="https://store-16upsp8vsw.mybigcommerce.com/content/images/Android_Download-mix_480x480.png" alt=""></a></div>

    <h2>Firmware Updates</h2>
    <a href="#">PavoTube II 6C</a>
</section>

<section class="content-img--custom">
    <img src="https://store-16upsp8vsw.mybigcommerce.com/content/images/nanlite-app-iphone_480x480.png" alt="">
</section>
{{/partial}}
{{> layout/base}}
