---
blog:
    posts:
        limit: 24
        pages: 3
        summary: 200
---
{{#partial "html_id"}}blog-list-layout{{/partial}}
{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    {{#unless theme_settings.hide_blog_page_heading }}
        <h1 class="page-heading">{{ blog.name }}</h1>
    {{/unless}}

    {{#each blog.posts}}
        {{> components/custom/post-cell post=this}}
    {{/each}}

    {{> components/common/paginator pagination.blog}}
</main>

{{/partial}}
{{> layout/base}}
