
---
category:
    shop_by_price: true
    products:
        limit: {{theme_settings.categorypage_products_per_page}}
---
{{inject "categoryProductsPerPage" theme_settings.categorypage_products_per_page}}
{{#partial "head"}}
    {{#if pagination.category.previous}}
        <link rel="prev" href="{{pagination.category.previous}}">
    {{/if}}
    {{#if pagination.category.next}}
        <link rel="next" href="{{pagination.category.next}}">
    {{/if}}
{{/partial}}

{{#partial "html_id"}}layout-category{{/partial}} 


{{#partial "page"}}

 {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{category.name}}</h1>
 
<div class="cat--grid">
 {{#if category.description }}
 <div class="cat--desc">
     {{{category.description}}} 
 </div>    
 {{/if}}
 
    <main class="page-content" id="product-listing-container">
        
        {{#if category.faceted_search_enabled}}
            <aside class="page-sidebar" id="faceted-search-container">
                {{> components/category/sidebar}}
            </aside>
        
        {{else if category.shop_by_price}}
            {{#if theme_settings.shop_by_price_visibility}}
                 <aside class="page-sidebar" id="faceted-search-container">
                    {{> components/category/sidebar}}
                </aside>
            {{/if}} 
        {{/if}}
        
        {{#if category.products}}
            {{> components/category/product-listing}}
        {{else}}
            <p>{{lang 'categories.no_products'}}</p>
        {{/if}}
        {{{region name="category_below_content"}}}
        <a class="navUser-action navUser-item--compare" href="{{urls.compare}}" data-compare-nav>{{lang 'common.compare'}} <span class="countPill countPill--positive countPill--alt"></span></a>

    </main>
</div>   
<div id="category-xp"></div>
    
    
<script>
window.addEventListener('load', (event) => {
    __zmags.channels.app.stop();
    __zmags.channels.app.start();
});
</script>


      
   
 
{{/partial}}
{{> layout/base}}
