---
product:
    videos:
        limit: {{theme_settings.productpage_videos_count}}
    reviews:
        limit: {{theme_settings.productpage_reviews_count}}
    related_products:
        limit: {{theme_settings.productpage_related_products_count}}
    similar_by_views:
        limit: {{theme_settings.productpage_similar_by_views_count}}
---
{{#partial "zmags"}}
<div id="zmags-xp-{{product.sku}}" class="zmags-xp"></div>
<script>
window.addEventListener('load', (event) => {
    __zmags.channels.app.stop();
    __zmags.channels.app.start();
}); 
</script>

{{/partial}}
{{> components/custom/product-base }}
