{{! 
    Use this template to group anything you want to have at the very end of the code.
    Dynamic scripts added to BigCommerce's analytics box will be added right before this.
}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

{{! Mobile Menu }}
<script src="{{cdn 'assets/theme/scripts/mmenu/mmenu.js'}}"></script>
<link href="{{cdn 'assets/theme/scripts/mmenu/mmenu.css'}}" rel="stylesheet" />

{{! Product Gallery }}
<link rel='stylesheet' href="{{cdn 'assets/theme/scripts/gallery/css/unite-gallery.css'}}" type='text/css' /> 
<link rel='stylesheet' href="{{cdn 'assets/theme/scripts/gallery/skins/alexis/alexis.css'}}" type='text/css' />
<script type='text/javascript' src="{{cdn 'assets/theme/scripts/gallery/js/unitegallery.min.js'}}"></script>
<script type='text/javascript' src="{{cdn 'assets/theme/scripts/gallery/themes/compact/ug-theme-compact.js'}}"></script> 
<script type='text/javascript' src="{{cdn 'assets/theme/scripts/gallery/themes/default/ug-theme-default.js'}}"></script>

{{! Custom script bundle }}
<script type='text/javascript' src="{{cdn 'assets/theme/scripts/main.js'}}"></script>
