<div id="cookie_directive_container">
    <ul>
      <li id="cookie_note">We use cookies to make sure you get the best experience on our website. To learn more about our cookies policy, please read our <a href="/privacy-policy/">Privacy Statement</a>. By continuing to browse our site, you accept our use of cookies and <a href="/terms-of-use/">Terms of Use</a>.</li>
      <li id="cookie_accept"><a href="javascript:void(0);">&nbsp;Continue&nbsp;</a></li>
    </ul>
</div>

<script type="text/javascript">
    jQuery(function($) {

    checkCookie();

    function checkCookie()
    {
    var consent = getCookie("cookies_consent");

    if (consent == null || consent == "" || consent == undefined)
    {
    // show notification bar
    $('#cookie_directive_container').show();
    }
    }

    function setCookie(c_name,value,exdays)
    {

    var exdate = new Date();
    exdate.setDate(exdate.getDate() + exdays);
    var c_value = escape(value) + ((exdays==null) ? "" : "; expires="+exdate.toUTCString());
    document.cookie = c_name + "=" + c_value+"; path=/";

    $('#cookie_directive_container').slideUp('slow');
    }


    function getCookie(c_name)
    {
    var i,x,y,ARRcookies=document.cookie.split(";");
    for (i=0;i<ARRcookies.length;i++)
    {
    x=ARRcookies[i].substr(0,ARRcookies[i].indexOf("="));
    y=ARRcookies[i].substr(ARRcookies[i].indexOf("=")+1);
    x=x.replace(/^\s+|\s+$/g,"");
    if (x==c_name)
    {
    return unescape(y);
    }
    }
    }

    $("#cookie_accept a").click(function(){
    setCookie("cookies_consent", 1, 30);
    });

});
</script>
