<nav id="mobile-menu">
    <ul>
        <li>
            <span>Shop Products</span>
            <ul>
                <li>
                    <a href="#">Monolight Style</a>
                </li>
                <li>
                    <a href="#">Lantern Softboxes</a>
                </li>
                <li>
                    <a href="#">Light Tubes</a>
                </li>
                <li>
                    <a href="#">Ring Lights</a>
                </li>
                <li>
                    <a href="#">Light Panels</a>
                </li>
                <li>
                    <a href="#">On-Off Camera Fresnels</a>
                </li>
                <li>
                    <a href="#"><strong>Latest Deals!</strong></a>
                </li>
            </ul>
        </li>
        <li>
            <span>Shop Collections</span>
            <ul>
                <li>
                    <a href="/shop-collections-forza-200-300-500-led-monolights-with-dmx/">Forza 200, 300 & 500 LED Monolight with DMX</a>
                </li>
                <li>
                    <a href="/shop-collections-pavotube-rgbww-led-tubes/">Pavotube RGBWW LED Tubes</a>
                </li>
                <li>
                    <a href="/shop-collections-pavotube-ii-6c-rgbww-mini-led-tube/">Pavotube II 6C RGBWW Mini LED Tube</a>
                </li>
                <li>
                    <a href="/shop-collections-mixpanel-rgbww-led-panels-with-dmx/">MixPanel RGBWW LED panel with DMX</a>
                </li>
                <li>
                    <a href="/shop-collections-lumipad-bicolor-soft-light-led-panels/">LumiPad Bicolor Soft Light LED Panels</a>
                </li>
                <li>
                    <a href="/shop-collections-mira-26b-led-dual-flex-arm-beauty-light/">Mira 26B LED Dual Flex Arm Beauty Light</a>
                </li>
                <li>
                    <a href="/shop-collections-litolite-5c-compact-rgbww-led-panel/">LitoLite 5C Compact RGBWW LED Panel</a>
                </li>
                <li>
                    <a href="">On & Off Camera Fresnels</a></li>
                <li>
                    <a href="/shop-collections-fs-series-led-monolights/">FS Series AC LED Monolights</a>
                </li>
                <li>
                    <span>Forza 60 LED Monolight</span>
                    <ul>
                        <li>
                            <a href="/nanlite-forza-60b-bicolor-led-monolight/">Bicolor</a>
                        </li>
                        <li>
                            <a href="/nanlite-forza-60-led-monolight/">Daylight</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Compac Slim Soft Light Studio Led Panels</span>
                    <ul>
                        <li>
                            <a href="">Bicolor</a>
                        </li>
                        <li>
                            <a href="">Daylight</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Halo Ring Lights</span>
                    <ul>
                        <li>
                            <a href="">Bicolor</a>
                        </li>
                        <li>
                            <a href="">RGBWW</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Light Modifiers</span>
                    <ul>
                        <li>
                            <a href="">Forza 60</a>
                        </li>
                        <li>
                            <a href="">Forza</a>
                        </li>
                        <li>
                            <a href="">Compac</a>
                        </li>
                        <li>
                            <a href="">PavoTube</a>
                        </li>
                        <li>
                            <a href="">MixPanel</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <span>Accessories</span>
                    <ul>
                        <li>
                            <a href="">Forza 60</a>
                        </li>
                        <li>
                            <a href="">Forza</a>
                        </li>
                        <li>
                            <a href="">PavoTube</a>
                        </li>
                        <li>
                            <a href="">PavoTuve II 6C</a>
                        </li>
                        <li>
                            <a href="">LitoLite 5C</a>
                        </li>
                        <li>
                            <a href="">V-Mount Batteries</a>
                        </li>
                        <li>
                            <a href="">Remote Controls</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li>
            <a href="/blog/">Learn</a>
        </li>
        <li>
            <a href="#">About</a>
        </li>
        <li>
            <span>My Account</span>
            <ul>
                {{#if customer}}
                <li>
                    <a href="{{urls.account.index}}">My Account</a>
                </li>
                <li>
                    <a href="/account.php?action=order_status">Orders</a>
                </li>
                <li>
                    <a href="/account.php?action=inbox">Messages</a>
                </li>
                <li>
                    <a href="/account.php?action=address_book">Addresses</a>
                </li>
                <li>
                    <a href="/wishlist.php">Wishlists</a>
                </li>
                <li>
                    <a href="/account.php?action=recent_items">Recently Viewed</a>
                </li>
                <li>
                    <a href="/account.php?action=view_returns">Returns</a>
                </li>
                <li>
                    <a href="/account.php?action=account_details">Account Settings</a>
                </li>
                
                <li>
                    <a href="{{urls.auth.logout}}">Log Out</a>
                </li>
                {{else}}
                <li>
                    <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
                </li>
                {{/if}}
            </ul>
        </li>
        </li>
        
    </ul>
</nav>
