<ul class="desktop-menu">
    <li>
        <a href="/shop/">menu 1<i class="fas fa-chevron-down"></i> </a> 
        <div class="submenu">
            <div class="submenu-container menu-xl-bg">
                <div class="border-menu">
                    <div>
                        <h3 class="SubMenu-title">Products</h3>
                        <ul>
                            <li class="view-all-style"><a href="/shop-all/">View All</a></li>
                            <li><a href="#">Air</a></li>
                            <li><a href="/shop-by-category/backpacks/">Backpacks</a></li>
                            <li><a href="/shop-by-category/equipment-cases/">Equpiment Cases</a></li>
                            <li><a href="/shop-by-category/rolling-cases/">Rolling Cases</a></li>
                            <li><a href="/shop-by-category/shoulder-bags/">Shoulder Bags</a></li>
                            <li><a href="#"><strong>Latest Deals!</strong></a></li>
                        </ul>
                    </div>
                </div>
                    
                <div>
                    <h3 class="SubMenu-title">Collections</h3>
                    <ul>
                        <li class="view-all-style"><a href="#">View All</a></li>
                        <li><a href="/shop-collections-air-cases/">Air Cases</a></li>
                        <li><a href="/shop-collections-axis/">Axis</a></li>
                        <li><a href="/shop-collections-attache/">Attaché</a></li>
                        <li><a href="/shop-collections-car-cases/">Car Cases</a></li>
                        <li><a href="/shop-collections-cineluxe/">Cineluxe</a></li>
                        <li><a href="/shop-collections-dna/">DNA</a></li>
                        <li><a href="/shop-collections-fulton/">Fulton</a></li>
                    </ul>
                </div>

                <div>
                    <ul>                
                        <li><a href="/shop-collections-roadie/">Roadie</a></li>
                        <li><a href="/shop-collections-shootout/">Shootout</a></li>
                        <li><a href="/shop-collections-skyline/">Skyline</a></li>
                        <li><a href="/shop-collections-solstice/">Solstice</a></li>
                        <li><a href="/shop-collections-sue-bryce/">Sue Bryce</a></li>
                        <li><a href="/shop-collections-tools/">Tools</a></li>
                        <li><a href="/shop-collections-tripack/">Tripack</a></li>
                    </ul>
                </div>

                <div class="zmags-menu">
                    <img src="https://store-16upsp8vsw.mybigcommerce.com/content/images/menu-placeholder.png">
                </div>
            </div>
        </div><!-- /.submenu -->
    </li>
    <li>
        <a href="/shop/">menu 2<i class="fas fa-chevron-down"></i> </a> 
        <div class="submenu">
            <div class="submenu-container menu-xl"> 
                <div>
                    <ul>
                        <li>
                            <a href="/shop-collections-view-all/">
                                <h3 class="view-all-style">View all</h3>
                            </a>
                        </li>
                    </ul>
                   <ul class="bold">
                       <li><a href="/shop-collections-forza-200-300-500-led-monolights-with-dmx/">Forza 200, 300 & 500 LED Monolight with DMX</a></li>
                       <li><a href="/shop-collections-pavotube-rgbww-led-tubes/">Pavotube RGBWW LED Tubes</a></li>
                       <li><a href="/shop-collections-pavotube-ii-6c-rgbww-mini-led-tube/">Pavotube II 6C RGBWW Mini LED Tube</a></li>
                       <li><a href="/shop-collections-mixpanel-rgbww-led-panels-with-dmx/">MixPanel RGBWW LED panel with DMX</a></li>
                       <li><a href="/shop-collections-lumipad-bicolor-soft-light-led-panels/">LumiPad Bicolor Soft Light LED Panels</a></li>
                       <li><a href="/shop-collections-mira-26b-led-dual-flex-arm-beauty-light/">Mira 26B LED Dual Flex Arm Beauty Light</a></li>
                       <li><a href="/shop-collections-litolite-5c-compact-rgbww-led-panel/">LitoLite 5C Compact RGBWW LED Panel</a></li>
                       <li><a href="">On & Off Camera Fresnels</a></li>
                       <li><a href="/shop-collections-fs-series-led-monolights/">FS Series AC LED Monolights</a></li>
                   </ul>
                </div>
                <div>
                    <h3>Forza 60 LED Monolight</h3>
                    <ul>
                        <li><a href="/nanlite-forza-60b-bicolor-led-monolight/">Bicolor</a></li>
                        <li><a href="/nanlite-forza-60-led-monolight/">Daylight</a></li>
                    </ul>

                    <h3>Compac Slim Soft Light Studio Led Panels</h3>
                    <ul>
                        <li><a href="">Bicolor</a></li>
                        <li><a href="">Daylight</a></li>
                    </ul>

                    <h3>Halo Ring Lights</h3>
                    <ul>
                        <li><a href="">Bicolor</a></li>
                        <li><a href="">RGBWW</a></li>
                    </ul>
                </div>
                <div>
                    <h3>Light Modifiers</h3>
                    <ul>
                        <li><a href="">Forza 60</a></li>
                        <li><a href="">Forza</a></li>
                        <li><a href="">Compac</a></li>
                        <li><a href="">PavoTube</a></li>
                        <li><a href="">MixPanel</a></li>
                    </ul>

                    <h3>Accessories</h3>
                    <ul>
                        <li><a href="">Forza 60</a></li>
                        <li><a href="">Forza</a></li>
                        <li><a href="">PavoTube</a></li>
                        <li><a href="">PavoTuve II 6C</a></li>
                        <li><a href="">LitoLite 5C</a></li>
                        <li><a href="">V-Mount Batteries</a></li>
                        <li><a href="">Remote Controls</a></li>
                    </ul>
                </div>
                <div class="zmags-menu">
                    <img src="https://placehold.it/400x300">
                </div>
            </div><!-- /.submenu-container-->
        </div><!-- /.submenu -->
    </li>
    <li>
        <a href="/blog/">menu 3</a> 
        <div class="submenu">
            <div class="menu--small submenu-container ">
                <div>
                    <ul>
                        <li><a href="#">Monolight Style</a></li>
                        <li><a href="#">Lantern Softboxes</a></li>
                        <li><a href="#">Light Tubes</a></li>
                        <li><a href="#">Ring Lights</a></li>
                        <li><a href="#">Light Panels</a></li>
                        <li><a href="#">On-Off Camera Fresnels</a></li>
                        <li><a href="#">Accessories</a></li>
                        <li><a href="#"><strong>Latest Deals!</strong></a></li>
                    </ul>
                </div>
                <div class="zmags-menu">
                    <img src="https://store-16upsp8vsw.mybigcommerce.com/content/images/menu-placeholder.png">
                </div>
            </div>
            <!-- /.submenu-container-->
        </div>
    </li>
    <li>
        <a href="/shop/">menu 4</a> 
        <div class="submenu">
            <div class="submenu-container xs-menu">
                <div>
                    <ul>
                        <li><a href="/our-brand/"><h3>Our Brand</h3></a></li>
                        <li><a href="/ambassadors/"><h3>Ambassadors</h3></a></li>
                        <li><a href="/journal"><h3>Journal</h3></a></li>
                        <li><a href="/videos/"><h3>videos</h3></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </li>
</ul>
