<div class="footer-info-col">
    <h5>Main contact</h5>
    <p>75 Virginia Road <br> North White Plains, NY <br> 10603</p>
</div>

<div class="footer-info-col">
    <h5>Service & support</h5>
     <ul>
        <li><a href="/contact-us/">Contact Us</a></li>
        <li><a href="/service-repair/">Service & Repair</a></li>
        <li><a href="/discontinued-products/">Discontinued Products</a></li>
        <li><a href="/faqs/">FAQs</a></li>
        <li><a href="/user-manuals/">User Manuals</a></li>
        <li><a href="/warranty/">Warranty</a></li>
        <li><a href="/shipping/">Shipping</a></li>
        <li><a href="/return-policy/">Return Policy</a></li>
        <li><a href="/privacy-policy/">Privacy Policy</a></li>
    </ul>
</div>

<div class="footer-info-col">
    <h5>My account</h5>
    <ul>
        {{#if customer}}
            <li><a href="{{urls.account.index}}">My Account</a></li>
            <li><a href="/account.php?action=order_status">My Orders</a></li>
            <li><a href="{{urls.auth.logout}}">{{lang 'common.logout'}}</li>
        {{else}}
            <li><a href="{{urls.auth.login}}">{{lang 'common.login'}}</a></li>
        {{/if}}    
    </ul>
    

    <h5>Find a dealer</h5>
    <ul>
        <li><a href="#">In the USA</a></li>
        <li><a href="#">Outside of the USA</a></li>
    </ul>
</div>      

<div class="footer-info-col">
    <h5>newsletter</h5>
    <ul>
        <li><a href="/subscribe/">Sign Up</a></li>
    </ul>
</div>
