<div class="icons-list-header">   
    <div id="search-box">
        <form autocomplete="off" action="{{urls.search}}">
            <input class="text" type="text" id="search_query_adv" name="search_query_adv" value="" placeholder="{{forms.search.query}}">
            <button type="submit">{{lang 'search.results.form_button_text'}}</button>
        </form>
    </div>
    
    <a href="/dealers/" id="icon-location"><img src="{{cdn 'theme/images/location-icon.png'}}" alt="Location Icon"></a>
        
    <a href="/subscribe/" id="icon-subscribe" class="open-popup-link" data-mfp-src="#subscribe-popup" ><img src="{{cdn 'theme/images/subscribe-icon.png'}}" alt="Subscribe Icon"></a>

    <a href="/cart.php" id="icon-cart"><img src="{{cdn 'theme/images/cart-icon.png'}}" alt="Cart Icon"></a>
</div>
