<!-- Pop-up with embed form  -->

<div id="subscribe-popup" class="container-newsletter white-popup mfp-hide">
    <div class="amf-form-logo"><a href="https://nanliteus.com" target="_blank"><img src="http://mail.nanliteus.com/files/amf_mac_group/workspace_57/nanlite-logo-125px.png" alt="Nanlite" /></a></div>
    <div class="form-container">
        <div class="text-and--button">
            <h2>Newsletter Sign-up</h2>
            <h3>Sign up for 10% off and stay up to date on Nanlite news, promotions & products!</h3>
            <!-- Embed form here -->
           </div><form action="https://mail.nanliteus.com/k/Mac-Group/new_nanlite_opt_in_form" method="post" accept-charset="UTF-8"><div class="amf-el amf-type-textbox" id="amf-el-first_name_956"><label for="amf-input-first_name_956">First Name</label><div class="amf-el-inner"><input type="text" class="text" name="first_name_956" id="amf-input-first_name_956" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)"></div></div><div class="amf-el amf-type-textbox" id="amf-el-last_name_957"><label for="amf-input-last_name_957">Last Name</label><div class="amf-el-inner"><input type="text" class="text" name="last_name_957" id="amf-input-last_name_957" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)"></div></div><div class="amf-el amf-type-email" id="amf-el-email_958"><label for="amf-input-email_958">Email</label><div class="amf-el-inner"><input type="text" class="text" name="email_958" id="amf-input-email_958" value="" maxlength="255" onkeyup="if (this.length>255) this.value=this.value.substr(0, 255)" onblur="this.value=this.value.substr(0, 255)"></div></div><div class="amf-el amf-type-checkbox" id="amf-el-i_give_nanlite_permission_to_provide_me_with_information_about_their_products_and_services_and_related_product_and_services_from_nanlites_affiliates_959"><div class="amf-el-inner"><input type="checkbox" class="checkbox" name="i_give_nanlite_permission_to_provide_me_with_information_about_their_products_and_services_and_related_product_and_services_from_nanlites_affiliates_959" id="amf-input-i_give_nanlite_permission_to_provide_me_with_information_about_their_products_and_services_and_related_product_and_services_from_nanlites_affiliates_959" value="Yes" ><label for="amf-input-i_give_nanlite_permission_to_provide_me_with_information_about_their_products_and_services_and_related_product_and_services_from_nanlites_affiliates_959">I give Nanlite permission to provide me with information about their products and services, and related product and services from Nanlite&#39;s affiliates.</label></div></div><div class="amf-el amf-type-captcha" id="amf-el-are_you_human_960"><label for="amf-input-are_you_human_960">Are you human?</label><div class="amf-el-inner"><script>var RecaptchaOptions = { theme : 'white' };</script><div class='captcha' name='are_you_human_960' id='amf-captcha-are_you_human_960'><script src="https://www.google.com/recaptcha/api.js" async defer></script><div class="g-recaptcha" data-sitekey="6LdvdCUUAAAAAKp_zIqdD5bsG_i6IqdRFBjxKjVW"></div>
</div></div></div><div class="amf-el amf-type-button" id="amf-el-submit"><input type="submit" class="button button-primary" name="submit" id="submit" value="Submit"></div><script type="text/javascript" id="0.680320292760531">
	(function(){
		var script			= document.getElementById('0.680320292760531');
		var form			= script.parentNode;
		var inputs			= form.getElementsByTagName('INPUT');
		var submit_count	= 0;

		var enable_double_submit = false;

		for (var i=0; i<inputs.length; i++) {
			var my_input = inputs[i];
			if ( my_input.type === 'submit' ) {
				var container = my_input.parentNode;
				if (container.className.match(/enable-double-submit/)) {
					enable_double_submit = true;
				}
			}
		}

		form.addEventListener('submit', function( evt ){
			if (submit_count >= 1 && !enable_double_submit) {
				evt.preventDefault();
			}
			submit_count++;
		});

	})();
</script>
</form>
        </div>     
    </div>
</div>
