<div class="pre-header">
    {{> components/custom/country-select }}
    
    <p id="free-shipping-text">{{> components/custom/free-shipping }}</p>

    <div class="login-link">
    {{#if customer}}
        <a href="{{urls.account.index}}">My Account</a> <span>&bull;</span>
        <a href="{{urls.auth.logout}}">{{lang 'common.logout'}}
    {{else}}
        <a href="{{urls.auth.login}}">{{lang 'common.login'}}</a>
    {{/if}}
    </div>
</div>