{{#partial "html_id"}}layout-product{{/partial}}
{{#partial "page"}}

    {{#each product.shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div itemscope itemtype="http://schema.org/Product">
        {{> components/products/product-view schema=true  }}

        {{{region name="product_below_content"}}}
        {{#block "zmags"}} {{/block}}
       
        {{> components/products/tabs}}

        <div id="previewModal" class="modal modal--large" data-reveal>
            <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
                <span aria-hidden="true">&#215;</span>
            </a>
            <div class="modal-content"></div>
            <div class="loadingOverlay"></div>
        </div>
    </div>

{{/partial}}
{{#partial 'morescripts'}}

{{/partial}}
{{> layout/base}}
