{{#if settings.show_product_reviews}}
<section class="container overflow" id="product-reviews">
    <div>
        <h2>Reviews</h2>
        <ul data-product-reviews    
                    data-list-name="{{list}}"
                    data-slick='{
                "dots": false,
                infinite: true,
                "slidesToShow": 3,
                "slidesToScroll": 1,
                "slide": ".js-review-slide",
                "prevArrow": ".js-review-prev-arrow",
                "nextArrow": ".js-review-next-arrow",
                "responsive": [
                    {
                        "breakpoint": 1000,
                        "settings": {
                            "slidesToShow": 2,
                            "slidesToScroll": 1
                        }
                    },
        
                    {
                        "breakpoint": 738,
                        "settings": {
                            "slidesToShow": 1,
                            "slidesToScroll": 1
                        }
                    }
                ]
            }'>
            
            {{#if product.num_reviews '>' 0}}
                {{#all settings.show_product_reviews theme_settings.show_product_reviews}}
                {{#each product.reviews.list}}
                <li class="js-review-slide">
                    <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <header>
                            <h5 itemprop="name" class="productReview-title">{{{ sanitize title }}}</h5>
                            {{#if name}}
                                <meta itemprop="author" content="{{name}}">
                                <p class="productReview-author">
                                    {{{lang 'products.reviews.post_on_by' date=date name=(sanitize name) }}}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                            <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                {{> components/products/ratings rating=rating}}
                                <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                            </span>
                        </header>
                        <p itemprop="reviewBody" class="productReview-body">{{{ sanitize text }}}</p>
                    </article>
                </li>
                {{/each}}
                {{/all}}
                
            {{/if}}   
            </ul>
            <p>
                <a href="{{product.url}}{{#if is_ajax}}#write_review{{/if}}"
                       class="productView-reviewLink productView-reviewLink--new"
                       {{#unless is_ajax}}data-reveal-id="modal-review-form"{{/unless}}
                    role="button"
                    >
                    {{lang 'products.reviews.new'}}
                    </a>
            </p>
            {{> components/products/modals/writeReview}}
    </div>
</section>
{{/if}}   