{{#partial "html_id"}}layout-myaccount{{/partial}}
{{#partial "page"}}
    <div class="account">
        {{#if settings.show_wishlist}}
            {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
            <h2 class="page-heading">
                {{#if forms.wishlist.id}}
                    {{lang 'account.wishlists.edit'}}
                {{else}}
                    {{#if forms.wishlist.action}}
                        {{lang 'account.wishlists.new'}}
                    {{else}}
                        {{lang 'account.wishlists.heading'}}
                    {{/if}}
                {{/if}}
            </h2>
            {{> components/account/navigation account_page='wishlists'}}
            {{> components/account/add-wishlist}}
        {{/if}}
    </div>
{{/partial}}
{{> layout/base}}
