
{{#partial "html_id"}}layout-myaccount{{/partial}}
{{#partial "page"}}
{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
<h1 class="page-heading">{{lang 'account.returns.new_return' }}</h1>
{{> components/account/navigation account_page='returns'}}
{{inject "order_products" forms.return.order_products}}
{{inject "customer" customer}}
{{inject 'storeHash' settings.store_hash}}
<main class="account account--fixed account--addReturn">
    <div class="account-body">
        <section class="account-content">

            <h3 class="account-heading">{{lang 'account.returns.from_order' id=forms.return.order_id}}</h3>

            {{#if forms.return.order_products.length}}
            <form
                    id="return_form"
                    action="{{urls.account.orders.save_new_return}}"
                    class="form"
                    method="post"
                    data-account-return-form-error="{{lang 'account.returns.error_no_qty'}}"
                    data-account-return-form
            >
                <fieldset class="form-fieldset">
                    <input type="hidden" name="order_id" value="{{forms.return.order_id}}">
                    <table class="table table--line">
                        <thead class="table-thead">
                        <tr>
                            <th class="return-itemName">{{lang 'account.orders.return.order_item'}}</th>
                            <th class="return-itemPrice">{{lang 'account.orders.return.item_price'}}</th>
                            <th class="return-itemQuantity">{{lang 'account.orders.return.quantity'}}</th>
                        </tr>
                        </thead>
                        <tbody class="table-tbody">
                        {{#each forms.return.order_products}}
                        <tr>
                            <td class="return-itemName">
                                <span class="return-itemTitle">{{name}}</span>
                                {{#if options}}
                                <dl class="definitionList">
                                    {{#each options}}
                                    <dt class="definitionList-label">{{name}}:</dt>
                                    <dd class="definitionList-description">{{value}}</dd>
                                    {{/each}}
                                </dl>
                                {{/if}}
                            </td>
                            <td class="return-itemPrice">{{price.formatted}}</td>
                            <td class="return-itemQuantity">
                                <label class="form-label">{{lang 'account.orders.return.quantity'}}:</label>
                                <select id= "return_qty" class="form-select form-select--small form-select--short" name="return_qty[{{id}}]">
                                    {{#for 0 quantity}}
                                    <option value="{{$index}}">{{$index}}</option>
                                    {{/for}}
                                </select>
                            </td>
                        </tr>
                        {{/each}}
                        </tbody>
                    </table>
                </fieldset>
                <div class="account--addReturn-row">
                    <fieldset class="form-fieldset account--addReturn-column">
                        <div class="form-field">
                            <label for="return_reason" class="form-label">
                                {{lang 'account.orders.return.reason'}}
                                <small>{{lang 'common.required'}}</small>
                            </label>
                            <select name="return_reason" id="return_reason" class="form-select">
                                {{#each forms.return.reasons}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="form-field">
                            <label for="return_action" class="form-label">
                                {{lang 'account.orders.return.action'}}
                            </label>
                            <select name="return_action" id="return_action" class="form-select">
                                {{#each forms.return.actions}}
                                <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </fieldset>
                    <fieldset class="form-fieldset account--addReturn-column">
                        <div class="form-field">
                            <label for="return_comments" class="form-label">
                                {{lang 'account.orders.return.comments'}}
                            </label>
                            <textarea class="form-input" rows="8" name="return_comments" id="return_comments"></textarea>
                        </div>
                    </fieldset>
                </div>
                <div class="form-actions">
                    <input class="button button--primary" id="returnButton" type="submit" value="Submit Return Request" />
                </div>
            </form>
            {{else}}
            <p>{{lang 'account.orders.return.already_returned'}}</p>
            <a href="{{urls.account.orders.all}}" class="button">{{lang 'account.orders.return.back_button'}}</a>
            {{/if}}

        </section>
    </div>

</main>

{{/partial}}
{{> layout/base}}
<script>

    $(document).ready(function(){

        var jsContext = JSON.parse({{jsContext}});
        var storeId = jsContext.storeHash;
        var products = jsContext.order_products;
        var xToken  = jsContext.ALxToken;
        //console.log(jsContext);
        var orderNumber = "{{forms.return.order_id}}";
        var jsonObj = {};
        var items = [];



        $(".form-fieldset").on('change', (event) => {
            items = [];
            var j1 = $.map( products, function(product) {
                //get the qty from the selector
                //console.log(product);
                var item = {};
                var qty = parseInt($('select[name="return_qty['+product.id+']"' ).children("option:selected"). val());
                console.log(qty);
                if(qty > 0){
                    item['qty'] = qty;
                    window.stencilUtils.api.product.getById(product.product_id, { template: 'search/raw-returns' }, (err, resp) => {
                        console.log(err);
                        var result = JSON.parse(jQuery.trim(resp));
                        item['sku'] = result;
                        items.push(item);

                        //console.log(items);
                    });
                }

            });
        });


        $('#return_form').on('submit', (event) => {

            event.preventDefault();
            jsonObj['storeId'] = storeId;
            jsonObj['orderNumber'] = orderNumber;
            jsonObj['customerName'] = jsContext.customer.name;
            jsonObj['email'] = jsContext.customer.email;
            jsonObj['items'] = items;
            var objTosend = JSON.stringify(jsonObj,null,4);

            //console.log(objTosend);

            if(items.length > 0){
                $.ajax({
                    type: "POST",
                    url: "https://aws.macgroupus.com/returnBigCommerceOrder",
                    // url: "https://servisuite.ngrok.io/returnBigCommerceOrder",
                    data: objTosend,
                    contentType: "text/plain",
                    headers: {
                        'X-Auth-Token' : xToken,
                        'Access-Control-Allow-Origin' : '*'
                    },
                    dataType: "json",
                    success: function() {
                        console.log(objTosend);
                        console.log("data sent");
                        $("#return_form").unbind('submit').submit();

                    },
                    error: function() {
                        $("#returnButton").prop("disabled",true);
                        $(".form-actions").prepend("<p id='return-error--text'>An Error Occurred, please refresh and try again, if it persists <a href='mailto:sales@shimodadesigns.com'>please email us.</a></p>");
                    }
                });
            }else{
                console.log(items);

            }

        })



    });

</script>


