{{#partial "html_id"}}layout-myaccount{{/partial}}
{{#partial "page"}}
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.addresses.heading' }}</h2>
    {{> components/account/navigation account_page='addresses'}}

    <div class="account account--fixedLarge">
        <div class="account-body">
            {{#if customer.error}}
                {{>components/common/alert/alert-error customer.error}}
            {{/if}}
            {{#if customer.success}}
                {{>components/common/alert/alert-success customer.success}}
            {{/if}}
            {{> components/account/address-list }}
        </div>
    </div>
{{/partial}}
{{> layout/base}}
