{{#partial "html_id"}}layout-myaccount{{/partial}}
{{#partial "page"}}
<div class="account">
    {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
    <h2 class="page-heading">{{lang 'account.recent_items.heading' }}</h2>
    {{> components/account/navigation account_page='recent_items'}}

    {{#unless customer.recently_viewed_products.items}}
        {{> components/common/alert/alert-info (lang 'account.recent_items.no_items')}}
    {{/unless}}

    <form action="{{urls.compare}}" method="post">
        {{> components/products/grid products=customer.recently_viewed_products.items show_compare=customer.recently_viewed_products.show_compare}}
    </form>
</div>
{{/partial}}
{{> layout/base}}
