/* Fonts */
$heading-font: "Neuzeit Grotesk";
$body-font: "Neuzeit Grotesk";
$heading-font-stack: "Neuzeit Grotesk", "Open Sans", sans-serif;
$body-font-stack: "Neuzeit Grotesk", "Open Sans", sans-serif;

/* Colors */
$primary-color: #46BAF2;
$secondary-color: #EC008C;
$background-dark-color: #555762;
$background-light-color: #F3F4F4;
$black: #0C0F1F;
$white: #FFF;
$grey1: #AAABB1;
$grey2: #555762;

/* Dimensions */
$container-max: 91.71429rem;

/* Pre-header */
$pre-header-padding: 14px;

/* Header */
$logo-width: 160px;
$logo-width-medium: 130px;
$logo-width-small: 110px;

/* Website */
$popup-background: "url(/assets/theme/brand/popup-bg.png)";

/*Footer*/
$social-links-color:#FFFFFF;