/*!
 * Hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
 .mburger {
  outline: 0;
}
[href]:focus {
   outline: none!important;
}
.hamburger {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 0.7; }
  .mm-wrapper_opened .hamburger:hover {
    opacity: 0.7; }
  .mm-wrapper_opened .hamburger .hamburger-inner,
  .mm-wrapper_opened .hamburger .hamburger-inner::before,
  .mm-wrapper_opened .hamburger .hamburger-inner::after {
    background-color: #000; }

.hamburger-box {
  width: 30px;
  height: 24px;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 30px;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -10px; }
  .hamburger-inner::after {
    bottom: -10px; }

/*
   * Spring
   */
.hamburger--spring .hamburger-inner {
  top: 7px;
  transition: background-color 0s 0.13s linear; }
  .hamburger--spring .hamburger-inner::before {
    top: 10px;
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring .hamburger-inner::after {
    top: 20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.mm-wrapper_opened .hamburger--spring .hamburger-inner {
  transition-delay: 0.22s;
  background-color: transparent !important; }
  .mm-wrapper_opened .hamburger--spring .hamburger-inner::before {
    top: 0;
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(45deg); }
  .mm-wrapper_opened .hamburger--spring .hamburger-inner::after {
    top: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 10px, 0) rotate(-45deg); }

/*
   * Spring Reverse
   */
.hamburger--spring-r .hamburger-inner {
  top: auto;
  bottom: 0;
  transition-duration: 0.13s;
  transition-delay: 0s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spring-r .hamburger-inner::after {
    top: -20px;
    transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0s linear; }
  .hamburger--spring-r .hamburger-inner::before {
    transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.mm-wrapper_opened .hamburger--spring-r .hamburger-inner {
  transform: translate3d(0, -10px, 0) rotate(-45deg);
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .mm-wrapper_opened .hamburger--spring-r .hamburger-inner::after {
    top: 0;
    opacity: 0;
    transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0s 0.22s linear; }
  .mm-wrapper_opened .hamburger--spring-r .hamburger-inner::before {
    top: 0;
    transform: rotate(90deg);
    transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* Standard Button */
.button {
line-height: 1;
transition: all linear 0.25s;
.iconify {
  font-size: 8px;
  line-height: 1;
  margin-left: 5px;
}
}
/* Compare Button */

.navUser-item--compare{
display: none;
}
.navUser-item--compare.show {
display: block;
position: fixed;
right: 10px;
top: 50%;
padding: 20px 30px;
background: $primary-color;
color: #fff;
font-size: 10px;
font-weight: 700;
letter-spacing: 1px;
text-decoration:none;
text-transform: uppercase;
border-radius: 50px;
line-height: 1;
} 



/*On Sale Badge*/
.starwrap {
height: 3.57143rem;
position: absolute;
top: 10px;
right: 20px;
width: 3.57143rem;
}

/* Pop Up Styles */
#subscribe-popup {
background: url(/assets/theme/images/popup-bg.png);
padding: 0;
margin: 0 auto;
box-sizing: border-box;
width: 500px;
height: 750px;
background-size: cover;
padding:35px;
.form-container {
  width: 100%;
}

.text-and--button{
  width: 430px;
  float: left;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}
    h2{
      margin-top: 0px;
      font-weight: bold;
      margin-top: 18px;
      font-size: 27px;
      color:$white;
    }

    h3{
      margin-top: 0px;
      color: $white;
      font-size: 15px;
    }

    label{
      font-size: 12px;
      color:$white;
    }
      span{
        display: table;
      }

.image-bitmap{
  width: 375px;
  height: 355px;
  float: right;
  margin-top: 134px;
  position: absolute;
  right: 0;
  z-index: 1;
}

.amf-type-datepicker input, .amf-type-email input, .amf-type-postalcode input, .amf-type-textarea textarea, .amf-type-textbox input{
  width: 424px;
  height: 47px;
  margin-bottom: 11px;
  border: none;
  padding: 15px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

.amf-type-datepicker input, .amf-type-email input, .amf-type-postalcode input, .amf-type-textarea textarea, .amf-type-textbox input:focus{
  outline: none;
}

.text-and--button a,
.text-and--button input[type="submit"] {
          background:#434752 ;
          padding: 16px 19px;
          color: #fff;
          text-decoration: none;
          font-size: 15px;
          font-weight: bold;
          float: left;
          margin-top: 35px;
          text-transform: uppercase;
          border:none;
}

.text-and--button a:hover{
  background: #475A3C;
}

input[type=checkbox]{
  margin-right: 10px;
  margin-top: 5px;
  float: left;
}

.amf-el{
  margin-bottom: 0px; 
}

.amf-el-inner{
  display: flex;
  width: 100%;
  align-items:flex-start;
}

.amf-el label{
  line-height: 26px;
}

#amf-el-i_give_shimoda_permission_to_provide_me_with_information_about_their_products_and_services_and_related_product_and_services_from_shimodas_affiliates_195{
  width: 900px;
}

input.checkbox{
  margin-right: 5px;
}

.select {
  position: relative;
  display: inline-block;
  margin-bottom: 15px;
  width: 100%;
}

.select select {
  font-family: 'Arial';
  font-size: 10pt;
  display: inline-block;
  width: 424px;
  height: 47px;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
  cursor: pointer;
  padding: 10px 15px;
  outline: 0;
  border: 0px solid #000000;
  border-radius: 0px;
  background: #fff;
  color: #7b7b7b;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select select::-ms-expand {
  display: none;
}

.select select:hover,
.select select:focus {
              color: #000000;
              background: #fff;
  }

.select select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.select_arrow {
  position: relative;
  top: 20px;
  right: 32px;
  width: 0px;
  height: 0px;
  border: solid #7b7b7b;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  z-index: 2;
}

.select select:hover ~ .select_arrow,
.select select:focus ~ .select_arrow {
          border-color: #000000;
  }

.select select:disabled ~ .select_arrow {
    border-top-color: #cccccc;
}

.amf-type-country{
  margin: 0px;
}

.select-wrap:after {
  content:"\f078";
  font-family:'Font Awesome 5 Free';
  position: absolute;
  top: 451px;
  right: 65px;
  z-index: 50;
}

select {
  padding: 10px 40px 10px 10px;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border-radius: 0;
  position: relative;
  cursor: pointer;
  z-index: 10;
  box-shadow: 1px 1px 3px rgba(0,0,0,.3);
}

#submit{
    margin-top:5px;
}

}

/* Breadcrumb */
.breadcrumbs {
padding-top:50px;
li {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: $grey1;
  a {
    text-decoration: none;
    color: inherit;
  }
  &.is-active {
    color: $grey2;
  } 
}

/* Overrides standard breadcumb divider. We use simple line icons via iconify under components > common > breadcrumbs*/
.breadcrumb:not(:first-child):before {
  display: none;
}
.iconify {
  display: inline-block;
  font-size: 70%;
  margin: 0 6px;
}
}


/* Product Card (used in tabs, categories, search */
.productGrid .card {background: none;}
.card {
margin-bottom: 3rem;
padding: 0; 

.card-figure {
  margin-top: 0;
  position: relative;
  margin-bottom: 0;
  padding: 0 0;
  background: transparent;
}
.card-figcaption {
  bottom: 0;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}
.card-figcaption-body {
  display: inline-block;
  pointer-events: all;
  transform: translate3d(0,-50%,0);
  position: relative;
  top: 50%;
  transform-style: preserve-3d;
}
.card-figcaption-button {
  background-color: $primary-color;
}
.card-body {
  text-align: left;
  padding: .75rem 0 0;
}
.card-img-container>img {
  mix-blend-mode: multiply;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
} 

.card-text[data-test-info-type=brandName] {
  color: #a9abaa;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2.2px;
  position: relative;
  z-index: 1;
  text-align: left;
  a {
    text-decoration: none;
  }
}
.card-text {
  .price-section {
    font-size: 20px;
    color: $primary-color;
  }
}
}

/* Slick */
.slick-dots {
bottom: -50px;
li {
  button {
    border-color: $white;
    background-color: $white;
  } 
}

li.slick-active {
  button:before {
      border-color: $primary-color;
      background-color: $primary-color;
    }
}
}


/* Review Carousel */
.productCarousel { // 1
width: 1px;
min-width: 100%;
@include grid-row(
    $behavior: nest
);
}

.productCarousel-slide { // 1
@include grid-column(6);

@include breakpoint("small") {
    width: grid-calc(4, $total-columns);
}

@include breakpoint("medium") {
    width: grid-calc(3, $total-columns);
}

@include breakpoint("large") {
    width: grid-calc(2, $total-columns);
}

.card {
    margin-bottom: 0;

    .card-title {
        overflow-wrap: break-word;
    }
}
}

//blog

#blog-layout {

  .container{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0% 5%;
  }
  .blog-title {
    font-size: 40px;
  }
  .blog-post{
    font-size: 18px;
    text-align: left;
      p{
        text-align: left;
      }
    }
  .blog-post iframe{
    max-width: 100%;
    margin-bottom: 30px;
    margin-top:30px;
  }
    
  .blog{
    padding-bottom: 50px;
    .blog-post-figure{
      display: none;
    }
    
    a{
      color:#46BAF2;
    }
  }
}


#blog-list-layout{
.container {
  margin: 0 auto;
  padding: 0px;
}
.page {
  margin: 0 -0.75rem;
  max-width: none;
  width: auto;
  display: flex;
  flex-flow: wrap;
  .page-heading {
    margin: 0 0 3rem;
    text-align: center;
    flex-basis: 100%;
  }
  .blog{
    flex-basis: 30%;
    margin: 1.5%;
    flex-flow: wrap;
    padding: 3%;
    border: none;
    padding: 0px;
    position: relative;
  }
  .blog-post-body{
    position: relative;
  }
  .blog-post-figure {
    width: 100%;
  }
  .blog-thumbnail {
    margin: 0 auto 2rem;
    position: relative;
    max-width: 100%;
      img{
        max-height: 220px;
        height: auto;
      }
  }
  .blog-post-body {
    width: 100%;
  }
  .blog-title {
    width: 100%;
    margin: 0px;
    text-align: left;
  }
  .blog-date, .blog-author {
    text-align: left;
  }
  .blog-post>a{
    color:#46BAF2 ;
  }
  .pagination{
    flex-basis: 100%;
    padding-top: 20px;
  }
  .blog-readmore{
    position:absolute;
    left: 0;
    bottom:0;
      a{
        color:#46baf2;
      }
  }

  .pagination-link{
    margin-right: 20px;
  }
}
}

//Contact us 

  .contact-info{
      text-align: center;
          h2{
              color:#39b1de;
          } p{
              margin-bottom: 5px;
          }
      
  }