/* Cookie CSS */

#cookie_directive_container {
    display: none;
    background-color:$black;
    color: #FFFFFF;
    padding: 20px;
    position: fixed;
    z-index: 10000000;
    text-align: center;
    width: 100%;
    bottom:0;
  
  #cookie_note a, #cookies_used a{
    color: #ffffff;
    font-weight: bold;
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin:0;
    li {
      display: inline;
      padding-left: 30px;
      padding-right: 30px;
      font-size:12px;
    }
  }
  
  #cookie_accept {
    width: 200px;
    a {
      background-color: #FFF;
      padding: 10px 30px;
      text-decoration: none;
      border-radius:25px;  
      color: #000000;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-size: 10px;

      a:hover { background-color: #DDD; }
    }
  }
}
@media (max-width: 800px) {
    #cookie_directive_container ul {
        flex-wrap: wrap;
    }
    #cookie_accept, 
    #cookie_directive_container ul li {
        width: 100%;
    }
    #cookie_note {
        margin-bottom: 30px;
    }
}
