@font-face {
    font-family: "Neuzeit Grotesk";
    font-style: normal;
    font-weight: 300;
    src: url("/assets/theme/fonts/Neuzeit-Grotesk-Light.woff") format("woff");
}

@font-face {
    font-family: "Neuzeit Grotesk";
    font-style: normal;
    font-weight: 400;
    src: url("/assets/theme/fonts/Neuzeit-Grotesk-Regular.woff") format("woff");
}

@font-face {
    font-family: "Neuzeit Grotesk";
    font-style: normal;
    font-weight: 700;
    src: url("/assets/theme/fonts/Neuzeit-Grotesk-Bold.woff") format("woff");
}
