/* Set max desktop width */
.container { max-width: $container-max; }

/* Overrides */
.body {
    margin-top:0;
    margin-bottom:0;
}
a {
    text-decoration: none;
}



/* =PRE-HEADER */
.pre-header {
    background: $primary-color;
    color: #fff;
    height: 40px;
    font-size: 10px;  
    position:relative;
    p, li, a {
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 2.2px;
        color: #fff;
        list-style: none;
    }
    ul {
        position: absolute;
        left: 0;
        margin: 0;
        min-width: 170px;
        li {
            display: inline;
            transition: opacity .5s linear;
            opacity:0;
        }
        a {
            display: inline-block;
            padding-top: $pre-header-padding;
            margin-left: 15px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    ul li.first,
    ul li.first:hover ~ li, 
    ul:hover > li {
        opacity: 1;
    }

    #country-switch i{
        margin-right: 10px;
    }


    #free-shipping-text {
        text-align: center;
        padding-top: $pre-header-padding;
        width: 50%;
        margin: 0 auto;
        display: table;
    }

    .login-link {
        float: right;
        margin-right: 32px;
        margin-top: -15px;
        color: #fff;
        a {
            color: #fff;
        }
        span {
            color: #fff;
            display: inline-block;
            padding: 0 10px;
        }
    }

    .pre-header li.first, .pre-header li.first:hover~li, .pre-header ul:hover>li {
        opacity: 1;
    }

}

/* =HEADER */
    .header {
        border-bottom: 1px solid #e5e5e5;
        overflow: visible;
        position: relative;

        .logo-container{
        position: absolute;
        left: 30px;
        top:50%;
        transform: translateY(-50%);
        a img {
            width: $logo-width;
        }
    }

    nav {
        width: 100%;
        height: 90px;
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        a {
            text-decoration: none;
        }
        
    }
}

/* =MENU */
/*MENU 1 SMALL*/

.menu--small{
    width: 500px;
    max-width: 500px !important;
    display: flex;
    justify-content: center;
    padding: 80px 85px;
    margin: 0 auto;
        div>ul{
            padding-right: 50px;
            min-width: 170px;
                li{
                    margin-bottom: 10px;
                }
                    a{
                        letter-spacing: .38px;
                    }
        }
        .zmags-menu>img{
            margin-top: 0px;
        }
    
}

/*MENU2 BIG WHITOUT LINE BG*/
.desktop-menu  {
    display:flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin:0;
    li {
        list-style: none;
    }
    > li {
        font-size: 14px;
        font-weight: 700;
    }
    > li > a { 
        text-transform: uppercase;
        letter-spacing: 3.08px;
        padding: 35px 30px 30px;
        color: inherit;
        display: block;
    }
    > li {
        color: $black;
        > div {
            display: none;
        }
        .fas {
            margin-left: 8px;
            position: relative;
            z-index: -1;
        }
    }
    > li:hover .submenu {
        display:block;
    }
    
    .submenu {
        position: absolute;
        width: 100%;
        background-color: $background-light-color;
        top: 82px;
        left: 0;
        box-shadow: 0 5px 9px rgba(0,0,0,.15);
    }
    .menu-xl {
        width: 1200px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 80px 0 85px;

        div {
            display: flex;
            flex-direction: column;
            padding-right: 70px;
        }


        .bold li a{
            font-weight: bold;
        }
        ul {
            margin-left:0;
            margin-bottom: 15px;
        }
        li {
            margin-bottom: 10px;
        }
        li, a {
            text-transform: none;
            font-size: 13px;
            letter-spacing: 0.38px;
            font-weight: normal;
        }
        li a:hover {
            text-indent: 10px;
        }
        h3{
            font-size: 13px;
            letter-spacing: 0.33px;
            line-height: 24px;
            margin-top:0px;
            margin-bottom: 15px;
        }
    }
}

nav > ul > li:hover >a > i{
    transform: rotate(-180deg);
}

nav > ul > li:hover >a{
    color: $primary-color;
}

.desktop-menu > li .fas{
transition: all 0.125s linear
}
.zmags-menu {
    margin-top:-10px;
    width: 265px;
    flex-basis: 265px;
    padding-right: 0px !important;
    min-width:320px
}

.view-all-style{
    text-transform: uppercase;
    color: $primary-color  ;
}

/*MENU3 EXTRA SMALL (STRIP)*/
.xs-menu{
    display: inline !important;
      ul{
        display: flex;
        justify-content: center;
          li{
            margin-right: 40px;
              a{
                  padding:30px;
              }
               h3{
                text-transform: uppercase;
                font-size: 16px;
                margin: 0px;
              }
          }
      }
  
}

/*MENU 4 BIG WITH LINE BG*/
.desktop-menu {
    display:flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin:0;
    li {
        list-style: none;
    }
    > li {
        font-size: 13px;
        font-weight: 700;
    }
    >li:hover {
        color: $primary-color;
    }
    > li > a { 
        text-transform: uppercase;
        letter-spacing: 3.08px;
        padding: 35px 30px 30px;
        color: inherit;
        display: block;
    }
    > li {
        color: $black;
        > div {
            display: none;
        }
        .fas {
            margin-left: 8px;
            position: relative;
            z-index: -1;
        }
    }
    > li:hover .submenu {
        display:block;
    }
    
    .submenu {
        position: absolute;
        width: 100%;
        background-color: $background-light-color;
        top: 82px;
        left: 0;
        box-shadow: 0 5px 9px rgba(0,0,0,.15);
    }
    .menu-xl-bg{
        width: 1200px;
        max-width: 95%;
        margin: 0 auto;
        display: flex;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        padding: 80px 0 85px;

        .menu-xl-bg> div{
            margin: 0px;
            padding: 0px;
            width: 100%;
            max-width: 100%;
            border-right: 1px solid black;
        }

        .border-menu{
            position: relative;
        }
        .border-menu::before{
            content: '';
            top: -80px;
            bottom: -85px;
            right: 30px;
            position: absolute;
            background: rgba(223, 223, 223, 0.55) ;
            width: 1px;
            z-index: 10;
        }

        div {
            display: flex;
            flex-direction: column;
            flex-basis: 33%;
            padding: 0px 30px;
        }

        div:nth-of-type(1){
            padding-right: 0px;
        }

        div:nth-of-type(3){
            padding-top: 120px;
        }


        ul {
            margin-left:0;
        }
        li {
            margin-bottom: 15px;
        }
        li, a {
            text-transform: none;
            font-size: 13px;
            letter-spacing: 0.38px;
            font-weight: normal;
        }
      

        li a>strong{
            color: $primary-color;
        }

        .SubMenu-title{
            font-size: 16px;
            letter-spacing: 0.4px;
            line-height: 31px;
            text-transform: uppercase;
        }

        .view-all-style a{
            font-size:13px;
            font-weight: 600;
            text-transform: uppercase;
            line-height: 31px;
            letter-spacing: 0.65px;
            color: $primary-color;
        }
    }
}

nav > ul > li:hover >a > i{
    transform: rotate(-180deg);
}

.desktop-menu > li .fas{
transition: all 0.125s linear
}
.zmags-menu>img{
    position: absolute;
    margin-top: 40px;
    width: 320px;
    min-width: 320px;

}
/* Mobile Menu */
.mburger {
    display: none;
}


/* Header Icons */
.icons-list-header {
    display: flex;
    list-style: none;
    position: absolute;
    align-items: center;
    right: 30px;
    bottom: 27px;
    #search-box {
        position: relative;
        
        input.text {
            width: 50px;
            padding: 12px 35px 12px 15px;
            border: none;
            cursor: pointer;
            transition: width .2s linear;
            background: url(/assets/theme/images/search-icon.png) no-repeat 13px center;
            transition: width .25s linear;
            position: relative;
            z-index: 2;
            background: url(/assets/theme/images/search-icon.png) no-repeat 13px center;
            &:focus {
                outline: 0!important;
            }
            &.active {
                width: 260px;
                background: $background-light-color;
                background-image: none;
                cursor: auto;
                border-radius: 5px;
                z-index: 1;
                outline: 0!important;
            }
        }
        
        button {
            z-index: 2;
            position: absolute;
            display: block;
            position: absolute;
            text-indent: -999em;
            right: -999em;
            top: 0;
            background: #ddd url(https://store-xeovukd067.mybigcommerce.com/content/img/trazado-58.png) no-repeat center center;
            width: 50px;
            height: 40px;
            border-radius: 0 5px 5px 0;
        }
        input.active + button {
            right:0;
        }
    }
    a {
        padding: 0 15px;
    }
    #icon-cart {
        padding-right:0;
    }
}

/* Zmags Layout Width */
#zmags-layout .body>.container {
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}


/* Footer */
.footer {
    background: url(/assets/theme/brand/Nanlite-Footer-Background_Desktop.jpg) no-repeat bottom center;
    background-size: cover;
    padding-bottom: 33px;
    position: relative;
    clear:both;
    border:none;
    .container {
        display:flex;
        padding: 100px 50px 140px;
        box-sizing: border-box;
    }
    #logo-footer {
        position: absolute;
        left: 70px;
        bottom: 100px;
    }
    
    .footer-info-col {
        ul {
            margin-left: 0;
            li {
                list-style: none;
                font-size:13px ;
                line-height: 30px;
                letter-spacing: 0.33px;
                color:#AAABB1;
                a {
                    color: inherit;
                    text-decoration: none;
                }
                a:hover {
                    color:#FFF;
                }
            }
        } 
        p {
            font-size:13px ;
            line-height: 30px;
            letter-spacing: 0.33px;
            color:#AAABB1;
        }
    }

    h5 {
        font-size: 13px;
        line-height: 30px;
        letter-spacing: 2.6px;
        color: #ffffff;
        font-weight: 700;
    }
    .social-media {
        position: relative;
        &:after {
            content:'';
            width: 150px;
            height: 230px;
            position: absolute;
            background: url(/assets/theme/brand/Be-Brilliant.svg) no-repeat top right;
            top:-10px;
            right:0; 
        }
        .social-links {
            display: flex;
            position: absolute;
            bottom: -85px;
            right:0;
            align-items: center;
            svg{
                width:30px;
                margin: 0 0 0 20px;
                color:$social-links-color;
            }
        }
    }    

    #nanlite-angle{
        color: #ffffff;
        padding-left: 20px;
        font-size:11px;
        line-height: 28px;
        letter-spacing: 2.2px;
        text-transform: uppercase;
        position: absolute;
        bottom: 30px;
        left: 0px;
        span:nth-of-type(1){
            transform: rotate(90deg);
            display: block;
            position: absolute;
            top: -130px;
            left: -95px;
        }
        a {
            color:#FFF;
            font-weight: bold;
            text-decoration: none;
        }
    }

    .footer-copyright {
        position: absolute;
        right: 50px;
        bottom: -20px;
        color: #fff;
        font-size:12px;
        letter-spacing: 0.31px;
    }

    #logo-footer{
        width:160px;
    }

}

//Categories

#layout-category {
        .page-heading {
            text-align: center;
            margin-bottom:0;
        }

        .actionBar {
            float:left; 
            clear: both;
        }
        }

      
      #layout-category ul.breadcrumbs{
          display: none;
      }
      .sidebarBlock + .sidebarBlock {
          border: none;
      }
      .cat--grid{
          display: flex;
          flex-direction: column;
          margin: 0 auto;
          justify-content: space-between;
      
          .productGrid{
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              width:100%;
              text-align: center;
              margin: 0 -.75rem;
              justify-content: space-between;
              ;
                  .actionBar-section{
                      display: none;
                  }
                  
              .product{
                  width: 32%;
                  flex-basis:32%;
                  max-width:32%;
                  background:#FFF;
                  margin-bottom: 2%;
                  padding: 20px;
                
                    .card{
                        margin-bottom: 15px;

                    }   
                }
            }
        }
                #facetedSearch .accordion {padding: 0;}
     

     
     
     #layout-category .page-content{
         margin: 0 auto;
     } 

        #layout-category .pagination-link{
            width: 40px;
            height: 40px;
            padding: 15px 0px;
            text-align: center;
            display: inline-block;
            border-radius: 5px;
            border: solid 1px #f5f5f5;
            transition: linear .25s;
                &:hover{
                    background: #fff;
                    border: solid 1px #FFF;
                }
        }

        #layout-category {
            .pagination-item--current{
                font-weight: bold;
                border: 1px solid #f5f5f5;
            }

            .pagination-item--next a{
                width: auto;
            }
            
            .pagination-item--previous a{
                width: auto;
            }
        }   
     #category--hero{
         margin-top: 0px;
     }
     
     
     
      
      #layout-category .body > .container{
            background:#f5f5f5;
            background-size: cover;
            width: 100%;
            max-width: 100%;
            margin: 0auto;
            padding: 0px;
        }
      
        
      #product-listing-container{
      margin: 0 auto;
      /*width: 1300px;*/
      }
      
      
      #layout-category.productGrid:after,.productGrid:before {
        display:none;
      }
      
      .page-content{
      width: 90%;
      float: none;
      }
      
      #layout-category .breadcrumbs{
          margin-left: 32px;
          padding-top: 72px;
        }
      
     #layout-category .productGrid{
            margin: 0 auto;
        }
    
        .productGrid .product:hover{
        background: #D9E7F2;
        }
        .productGrid .product:hover figure{
        background: #D9E7F2;
        }
        
        .productGrid .product:hover figure img{
            mix-blend-mode:multiply;
        }
    
        /* Site Search */
        #layout-category {
            .search-results .panel-body {
                background-color: rgba(255,255,255,0.5);
            }
        }/* Faceted Search */
    #layout-category {
    
    .page-sidebar {
        width:100%;
        padding-left: 0;

        nav {
            justify-content: left;
        }
    }
    .actionBar-section .form-field {
        border:none;
        padding: 5px 6px 7px;
    }
    .actionBar-section .form-label {
        color: #005BAA;
    }
    .actionBar-section .form-select {
        height: auto;
    }
    .accordion-block {
        background: #FFF;
        padding: 20px; 
        border-radius: 5px;
        margin: 0 10px 10px 0;

            ul {
                display: block;
            }
        
            input[name=min_price],
            input[name=max_price] {
                width: 85px;
                height: 55px;
                background: #F5F5F5;
                border-radius: 3px;
                border: none;
                padding-top: 25px;
                padding-left: 20px;
                color: #005BAA;
            }
            .navList-action--checkbox:before {
                margin-top: -0.41rem;
            }
            .accordion-navigation-actions > a {
                color: #888;
                vertical-align: middle;
                background: #FFF;
                font-size: 12px;
                position: absolute;
                right: -5px;
                top: 4px;
                text-decoration: underline;
                &:hover {
                    color: #333;
                }
            }
            
            #facet-range-form .form-field span {
                position: relative;
                padding-left:8px;
                &:after {
                    content:'$';
                    position: absolute;
                    left:10px;
                    font-size: 13px;
                    top:23px;
                    color: #005BAA;
                }
            }
            
            
            .accordion-title{
                font-size: 14px;
                color: #005BAA;
            }
            
            
            .form-minMaxRow .form-field{
                margin: 1px;
                width: 48%;
            }
            
            .form-minMaxRow .button {
                margin-bottom: 0;
                padding-left: 0;
                padding-right: 0;
                width: 100%;
                margin-top: 15px;
            }
            
            .form-minMaxRow .button:hover{
                color: #005BAA;
                border: solid 1px #005BAA;
            }
    }
    .navList-action--checkbox::before {
        border-radius: 50%; 
        background: #E8E8E8;   
        border: none;
    }
    .navList-action--checkbox::after {
        border-radius: 50%; 
        background: #005BAA;   
        border: none;    
        background-image: none;
    }
    .navList-item {
        float: left;
        clear: both;
    }
    
    .facetLabel {
        background: #fff;
        border-radius: 5px;
        padding: 8px 8px 9px 14px;
        color: #005baa;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    #facetedSearch {
        .facetedSearch-refineFilters {
            h5 {
                font-size: 13px;
                padding-top: 4px;
            }
            .inlineList--labels + a {
                color: #005BAA;
                font-size: 13px;
                padding-top:4px;
            }
        }
    }

    .accordion-block .form-minMaxRow span{
        display: block;
        position: relative;
        margin-bottom: -25px;
        padding-left: 16px;
    }

    .facetedSearch-refineFilters { 
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        h5 { margin-right: 15px; margin-bottom: 0;}
        ul { 
            margin-right: 15px; 
            li { margin-right: 5px;}
        }
    }


    

    
    #layout-category .page-heading {
        padding-top: 42px;
        margin-bottom: 105px;
    }

    #layout-category #category--hero ~ .container {
        padding-top: 42px;
    }

    #layout-category #search-results-heading {
        padding-bottom: 42px;
    }
    
    #layout-category .pagination-list{
        margin-right: 30px;
        margin: 40px 1%;
        position: relative;
        .pagination-item--next {
            position: absolute; right: 0;
        }
        .pagination-item--current {
            background: #FFF;
            font-weight: bold;
        }
        .pagination-item--previous {
            position: absolute; left: 0;
        }
        .pagination-item {
            padding: 5px;
            text-align: center;
            min-width: 34px;
        }
        .pagination-item:hover {
            background: #EEE;
        }
    }
}   

//Downloads-page
    
    #layout-page-downloads{
        .container{
            display:flex;
            justify-content: center;
            padding: 100px 20px;
        }
        
                ul{
                    list-style: none;
                    margin-left:0px;
                }

        .appstore{
            margin-top:50px;
            margin-bottom: 30px;
        }

        .breadcrumbs{
            position: absolute;
            top: 10px;
            left: 20;
        }
    }
    
//Content page
.page-heading{
    font-size: 50px;
}

#layout-page{
  h2{
      text-align: center;
  }
}

//Subscribe Page 

#layout-page-subscribe{

    .page{
            width: 50%;
            margin: 0 auto;
            padding-bottom: 50px;
    }

    .page-content{
            background-color: #f5f5f5;
            padding: 10px 20px; 
    }

    .form-container{
        h2{
            text-align: left;
        }
        h3{
            margin-top: 0px;
            margin-bottom: 10px;
        }

        #amf-input-first_name_956{
            width: 100%;
            height: 40px;
            border:none;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        }

        #amf-input-last_name_957{
            width: 100%;
            height: 40px;
            border:none;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        }
        #amf-input-email_958{
            width: 100%;
            height: 40px;
            border:none;
            box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
        }

       .amf-type-textbox{
            margin-bottom: 20px;
        }

        .amf-type-checkbox{
            margin-top: 20px;
        }

        .amf-type-captcha{
            margin-top: 10px;
        }

        #amf-el-submit{
            margin-top: 20px;
        }

        input[type=checkbox]{
            box-sizing: border-box;
            padding: 0;
            margin-right: 5px;
        }

       
    }
}
