#layout-product {
    /* Allows us to use full width blocks without breaking the container class*/
    .body>.container {
        max-width: 100%;
        padding: 0;
    }
    .wide {
        background-color: $background-light-color;
        width: 100%;
        max-width: 100%!important;
        margin: 0;
        padding: 0;
    }
    .breadcrumbs {
        text-align: left;
        .is-active {
            display: block;
            margin-top: 5px;
        }
    }

    /* Product View Grid */
    .productView {
        padding-bottom: 3em;
        #product-title, #product-bullets {
            margin: 0 auto;
            clear: right;
            float: right;
            width: 50%;
            max-width: 50%;
        }
        #product-title {
            h1 {
                font-size: 34px;
                letter-spacing: 0;
                font-weight: bold;
                line-height: 110%;
                margin: 50px 0 25px;
            }
            .productView-product {
                padding-bottom: 0;
                border: none;
            }
            .price {
                color: $primary-color;
            }
        }
        #product-bullets {
            .centermobile, #instocknotify-container {
                margin-bottom: 40px;
            }
        }
        #product-gallery {
            float: none;
            .ug-bullets {
                display: block;
                .ug-bullet {
                    background-image: none;
                    width: 8px;
                    height: 8px;
                    margin: 3px;
                    border-radius: 50%;
                    cursor: pointer;
                    display: block;
                    float: left;
                    z-index: 2;
                }
            }
        }
        /* Back in stock */
        #instocknotify-container {
            display: none!important;
        }
        #instocknotify-container.active {
            display: block!important;
        }
        #InStockNotifyForm {
            margin: 10px 0 30px!important;
            position: relative;
            font-size: 14px;
            background: rgba(255,255,255,.75);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
            padding: 30px;
        }
        #InStockNotifyOutOfStock {
            font-size: 14px;
        }
        #InStockNotifyEmailAddress {
            width: 100%!important;
            border-radius: 0;
            font-size: 14px;
        }
        #InStockNotifyClick {
            margin-bottom: 0;
        }
        
        /* Add to cart */
        .form-action .button {
	        margin: 0 27px 0 0;
        }
      
    }
    .productView-options .productAttributes-message{
        display: flex;
            .alertBox-icon{
                display: table-cell;
                vertical-align: text-top;
            }
            .alertBox-availability{
                text-align: left;
            }

            .alertBox-column{
                display: table-cell;
                vertical-align: text-top;
                p{
                    margin-bottom: 0px;
                    line-height: 27px;
                }
            }
    }
    

    #product-details {
        padding: 8rem 6rem;
        display: flex;
        justify-content: space-around;
        > div {
            flex-basis: 45%;
            font-size: 13px;
            h2 {
                margin:0;
                padding-bottom: 20px;
                margin-bottom: 20px;
                line-height: 1;
                border-bottom: $black solid 2px;
                font-weight: bold;
                font-size: 25px;
            }

            h3 {
                font-size: 13px;
                letter-spacing: 2.6px;
                text-transform: uppercase;
            }
            a {
                color: $primary-color;
                text-decoration: underline;
            }
            dl {
                display: flex;
                flex-wrap: wrap;
            }
            dt {
                font-weight: bold;
            }
            dt, dd {
                flex-basis: 50%;
                display: flex;
                align-items: center;
                padding-top: 10px;
                padding-bottom: 10px;
                border-bottom: 1px solid $grey1;
                margin-bottom: 5px;
                font-size: 13px;
            }
            .toggle {
                width: 100%;
                float: left;
                padding: 15px 0;
            }
        }

        /* Read More */
        .read {
            display: block;
            width: 100%;
            position: relative;
            background:linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
            padding: 40px 0 0;
            top:-40px;
            transition: all 0.25s linear; 
            i {
                position: absolute;
                right: 0;
                bottom: 3px;
            }
            &.active i {
                transform: rotate(180deg);
            }
        }
        
        
        .collapsed { 
            height: 190px;
            overflow: hidden;
            position: relative;   
        }
        #product-details div > div:after {
            content: '\f078';
            font-family: 'Font Awesome 5 Free';
            position: absolute;
            right: 0;
            font-weight: 700;
            font-size: 16px;
            color:$primary-color;
        }
    }

    /* Tabs */
    #tabs {
        /*padding: 3rem 6rem;*/
        background-color: $background-light-color;
        .slick-prev, .slick-next {
            background: none;
            border: none;
            width: 36px;
            height: 36px;
        }
        .slick-prev{
            left: 0px;
        }
        .slick-next{
            right: 0px;
        }
        .slick-prev::before,
        .slick-next::before {
        
        }
        .tabs, .tab-content {
            width: 100%;
            margin: 0 auto;
        }
        .tabs {
            border: none!important;
            .tab {
                float: left;
            }
            .tab-title {
                font-size: 30px;
                line-height: 36px;
                font-weight: bold;
                text-decoration: none;
                margin-left: 10px;
            }
            .tab.is-active {
                border: none;
                .tab-title {
                    color: #333;
                }
            }

            .slick-track {
                display: flex!important;
                .slick-slide {
                    height: inherit!important;
                }
            }
        }

        .productCarousel {
            box-sizing: border-box;
            padding: 0 20px;
            margin: 0 auto;
        
            .productCarousel-slide {
                background: $white;
                padding: 0 30px 30px;
                border: solid 10px $background-light-color;
                width: 33%;
                position: relative;
            }
        }
        .slick-track {
            display: flex!important;
        }
        .slick-slide {
            height: inherit!important;
        }
    }

}

@media (max-width: 1000px) {
    #layout-product {
        .breadcrumbs {
            display: none;
        }
        .productView {
            display: grid;
            justify-content: center;
            align-items: stretch;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows:repeat(3,auto);
            grid-template-areas: 
                "title title"
                "gallery gallery"
                "bullets bullets";

            #product-title {
                margin-bottom:0;
                grid-area: title;
            }

            #product-title, #product-bullets {
                width: 465px;
                max-width: 90%;
                margin: 0 auto;
            }

            #product-bullets {
                grid-area: bullets;
                padding: 0 1rem;
                .button--secondary {
                    margin-top:15px;
                }
            }

            #product-gallery {
                background: #FFF;
                width: 100%;
                margin: 15px auto 3rem;
                float: none;
                grid-area: gallery;
            }

        }
        #gallery {
            margin: 3rem auto;
        }

        #product-details {
            width: 465px;
            max-width: 90%;
            margin: 0 auto;
            flex-wrap: wrap;
            padding: 6rem 0;
            > div {
                max-width: 100%;
                width: 100%;
                flex-basis: 100%;
            }
        }
    }
}

@media (max-width: 800px) {
    .productView-options .form-action {
        width: 100%;
    }
}