@media (max-width: 1399px) {
    
}

@media( min-width:1000px){
      .socialLinks{
        top: 20px;
        position: absolute;
        left:-50px;
        display: flex;
        flex-direction: column;
      }

      .blog-post-body{
        position: relative;
      }
    }

@media (max-width: 1200px) {
    .desktop-menu > li > a {
        padding: 35px 15px 30px;
    }
    .desktop-menu > li {
        font-size: 12px;
    }
}

@media (max-width: 1000px) {
    body { padding: 0; }

    /* MENU & HEADER */
    .header {
        height: auto;
        nav {
            height: 70px!important;
        }
    }
    .header-wrapper {
        display: flex;
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        .pre-header, .header {
            flex-basis: 100%;
            width: 100%;
        }
    }
    
    .mburger, #icon-subscribe, #icon-location, #icon-cart {
        position: absolute;
        top:50%;
        transform: translateY(-50%);
    }
    .mburger {
        display: block;
        left: 25px;
    }
    #icon-subscribe {
        left: 80px;
    }
    #icon-cart {
        right: 35px;
    }
    #icon-location {
        right: 70px;
    }
    .icons-list-header, .header .logo-container {
        position: static;
        top:0;
        transform: none;
    }
    .desktop-menu, #search-box {
        display: none;
    }
    #mobile-menu { 
        
        .mm-iconbar a svg path {
            fill: $primary-color;
        }        
        #mobform {
            input {
                border-radius: 0;
                border: none;
                background: #FBFBFB;
            }
        }
        .mm-listitem {
            a {
                color: $primary-color;
            }
            a:hover {
                color: #FFF;
                background: $primary-color;
            }
        }
    }   
    

    /* Footer */
    .footer .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3);
        grid-template-areas: "1 2 5"
                                "3 2 5"
                                "4 2 5";
        padding: 100px 80px 140px;
    }

   .footer-info-col:nth-of-type(1){
       grid-area: 1;
       grid-column-start: 1;
       grid-row-start: 1;
       grid-row-end: 2;
   }
   .footer-info-col:nth-of-type(2){
       grid-area: 2;
       grid-column-start: 2;
       grid-row-start: 1;
       grid-row-end: 3;
   }

   .footer-info-col:nth-of-type(3){
       grid-area: 3;
       grid-row-start: 2;
       grid-column-start: 1;
   }

   .footer-info-col:nth-of-type(4){
       grid-row-start: 3;
       grid-column-start: 1;
   }

   .footer .social-media{
       grid-area: 5;
       grid-column-start: 3;
       grid-row-start: 1;
       grid-row-end: 4;
   }

   .footer-info-col {
    width: 100%;
    }

    .footer .social-media .social-links {
        display: flex;
        position: absolute;
        right: 0;
        align-items: center;
    }

    .footer #logo-footer {
        position: absolute;
        left: 85px;
        bottom: 100px;
    }

    .footer .footer-copyright {
        position: absolute;
        right: 50px;
        bottom: -20px;
        color: #fff;
        font-size: 12px;
        letter-spacing: 0.31px;
    }

    
    .cat--grid .productGrid .product {
         width: 48%;
        -ms-flex-preferred-size: 48%;
        flex-basis: 48%;
        max-width: 48%;
        background: #FFF;
        margin: 1%;
    }

    #layout-category {
        .search-results .panel-body .category-suggestion {
            font-size: 12px;
        }
    }

    //blog
    #blog-list-layout .page{
        padding:20px;
    }
    
    #blog-list-layout .page .blog {
        flex-basis: 47%;
        margin: 1.5%;
        flex-flow: wrap;
        padding: 3%;
        border: none;
        padding: 0;
    }
}

@media( max-width: 800px) { 
    #layout-category {
        .search-results .panel-body .category-suggestion {
            width: 50%;
        }

        .page-content > .container {
            padding: 0 0.25rem;
        }
    }

    #facetedSearch{
        margin-left: 0px;
        margin-right: 0px;
        padding: 0px 0px;
        .accordion-block {
            margin: 5px 0;
        }

        .accordion {
            border: none;            
        }
    }

    .accordion-navigation {
        border: 0;
        
    }
    
    #layout-category .form-fieldset {
    border-width: 0;
    margin: 0px 0px;
    padding: 0px 0px;
    }

    #layout-category {
        #facetedSearch {
            padding-top: 50px;
            width: 100%;
            .accordion--navList {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                > div {
                    flex:1;
                    min-width: 20%;
                }
                h5 {
                    margin-bottom: 0;
                    width: 100%;
                    position: relative;
                }
                /*h5:after {
                    content:'\f078';
                        font-family:'Font Awesome 5 Free';
                        position: absolute;
                        top: 3;
                        right: 5px;
                        color: #005BAA;
                }*/
            }
            .is-open {
                h5 {
                    margin-bottom: 25px;
                }
            }

        .facetedSearch-refineFilters{
             margin-bottom: 28px;
         }
         
         .facetedSearch-toggle{
             background: #fff;
         }
         
         .facetedSearch-toggle-text{
             display: none;
         }
         
         .facetedSearch-toggle-indicator{
             text-align: left;
         }

            
        }
    }

    #layout-category {
        .pagination-list {
            margin-right: 30px;
            margin: 40px 1%;
            .pagination-item--previous,
            .pagination-item--next {
                position: relative;
                float: none;
                span {
                    display: none;
                }
            }
        }
    }

    #layout-page-downloads{
        >.container{
            flex-direction: column;
            padding-right: 2%;
            padding-left: 2%;
        }
        .content-img--custom{
            display: none;
        }
    }

    #layout-page-subscribe{
        .container{
            background-color:#f5f5f5;
        }

        .page {
            width: 100%;
            margin: 0 auto;
            padding-bottom: 50px;
        }

        .page-content {
            background-color: #f5f5f5;
            padding: 10px 20px;
            width: 100%;
        }
    }
}
  
@media (max-width: 700px) {

    .header {
        nav {
            height: 50px!important;
        }
        .logo-container a img {
            width: $logo-width-medium;
        }
        .mburger {
            left: 10px;
        }
        #icon-subscribe { left: 55px; }
        #icon-cart { right: 20px; }
        #icon-location { right: 50px; }
    }

    .social-media:after{
        display:none;
    } 

    #nanlite-angle{
        display: none;
    }

    .footer .container{
        display: grid;
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows: repeat(4);
        grid-template-areas:
        "social social" 
        "1 2"
        "3 2"
        "4 2";
       margin:5% 2% ;
       padding: 5% 0px;

       .footer-info-col {
           text-align:left;
       }

       .footer-copyright {
           left: 2%;
       }
    }

    .footer .social-media {
        position: relative;
       grid-area: social;
        

        .social-links {
            top:-40px;
            bottom:auto;
            left: 0;
        }
    }
    
    .footer-info-col:nth-of-type(1){
        grid-area: 1;
        grid-column-start: 1;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    .footer-info-col:nth-of-type(2){
        grid-area: 2;
        grid-column-start: 2;
        grid-row-start: 1;
        grid-row-end: 3;
    }
 
    .footer-info-col:nth-of-type(3){
        grid-area: 3;
        grid-row-start: 2;
        grid-column-start: 1;
    }
 
    .footer-info-col:nth-of-type(4){
        grid-row-start: 3;
        grid-column-start: 1;
    }

    .footer-info-col {
        width: 100%;
    }

    .footer .container .footer-copyright {
        position: absolute;
        right: auto;
    }

    .footer #logo-footer {
        position: absolute;
        left: 2%;
        bottom: 25px;
    }

}

@media (max-width: 600px) {
    .pre-header {
        ul, .login-link {
            display: none;
        }
        #free-shipping-text {
            width: 100%;
            padding: 14px 15px 0;
        }
    }
        .accordion-navigation {
            border: none;
        }
        #layout-category .accordion-block {
            padding: 10px;
            margin-right: 0;
        }

        .facetedSearch-navList.is-open .accordion--navList {
            padding: 10px;
            
        }

        .cat--grid .productGrid .product {
          width: 100%;
          margin: 0;
          -ms-flex-preferred-size: 100%;
          flex-basis: 100%; max-width: 100%;
          margin-bottom:10px;
        }
}

@media (max-width: 500px) {
    .header {
        .logo-container a img {
            width: $logo-width-small;
        }
        .mburger {
            left: 10px;
        }
        #icon-subscribe { left: 55px; }
        #icon-cart { right: 20px; }
        #icon-location { right: 50px; }
    }


    #blog-list-layout .page{
        padding:20px;
    }

    #blog-list-layout .page .blog {
        flex-basis: 100%;
    }
}
@media (max-width: 450px) {
    #layout-category {
        .search-results .panel-body .category-suggestion {
            width: 100%;
        }
    }
}
