html, body {
    font-family: $body-font-stack;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

/* Set to display block if you need to show dimensions, pricing per quantity and similar fields in the product layout */
.productView-info {
    display: none;
}
/* Default button styles */
.button {
    border-radius: 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2.4px; 
    padding: 20px 52px;
    border: 2px solid $primary-color;
    &:hover {
        border: 2px solid $white;
        background-color: $primary-color;
    }
}
.button--secondary {
    background-color: $white;
    border: 2px solid $white;
    &:hover {
        border: 2px solid $primary-color;
        background-color: $white;
    }
}
/* Gallery */
#product-gallery {
    .ug-bullets {        
        .ug-bullet {
            background-color:$background-light-color;
        }
        .ug-bullet-active {
            background-color:$primary-color;
        }
        .ug-arrow-left.ug-skin-alexis,
        .ug-arrow-right.ug-skin-alexis {
            background-color: $background-light-color;
        }
    }
}