/*
Use this stylesheet to add the CSS code from the div creator
https://creatorcommunity.zmags.com/hc/en-us/articles/115004960663-DIV-Generator
Use the product SKU to get a unique ID from the product page and publish via manual or drag and drop method in Zmags.
*/

/* Sample Content*/
#zmags-xp-HALO10B{
    width: 100%;
    padding-bottom: 585.87%;
    background-color: white;
  }
  @media screen and (max-width: 991px) {
    #zmags-xp-HALO10B {
      width: 100%;
      padding-bottom: 585.87%;
    }
  }
  @media screen and (max-width: 767px) {
    #zmags-xp-HALO10B {
      width: 100%;
      padding-bottom: 959.73%;
    }
  }


  .sidebarBlock {
    display: none;
  }