<!DOCTYPE html>
<html class="no-js {{#block 'html_class'}} {{/block}}" lang="{{ locale_name }}" id="{{#block 'html_id'}} {{/block}}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

        <script>
            {{!-- Change document class from no-js to js so we can detect this in css --}}
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{> components/common/polyfill-script }}

        {{!-- Load Lazysizes script ASAP so images will appear --}}
        <script>
            {{!-- Only load visible elements until the onload event fires, after which preload nearby elements. --}}
            window.lazySizesConfig = window.lazySizesConfig || {};
            window.lazySizesConfig.loadMode = 1;
        </script>
        <script async src="{{cdn 'assets/dist/theme-bundle.head_async.js'}}"></script>
        <script type="text/javascript" data-channel="5de947a7faf7ea56194f09c1" src="//creator.zmags.com/channels.js" data-timeout="99000000000000"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        {{ getFontsCollection }}
        {{{stylesheet '/assets/css/theme.css'}}}

        {{{head.scripts}}}

        {{~inject 'showAdminBar' theme_settings.show-admin-bar}}
        {{~inject 'genericError' (lang 'common.generic_error')}}
        {{~inject 'maintenanceModeSettings' settings.maintenance}}
        {{~inject 'adminBarLanguage' (langJson 'admin')}}
        {{~inject 'urls' urls}}
        {{~inject 'secureBaseUrl' settings.secure_base_url}}
        {{~inject 'cartId' cart_id}}
        {{~inject 'channelId' settings.channel_id}}
        {{~inject 'template' template}}

        {{~inject 'themeSettings' theme_settings}}
        {{~inject ‘validationDictionaryJSON’ (langJson ‘validation_messages’)}}
        {{~inject ‘validationFallbackDictionaryJSON’ (langJson ‘validation_fallback_messages’)}}
        {{~inject ‘validationDefaultDictionaryJSON’ (langJson ‘default_messages’)}}
        {{~inject 'ALxToken' 'F757C2BA1C00212DCEEC00CC26CC8053B218C650EDDE4CE790542E81451E3F37'}}

        {{> components/custom/addition-to-head }}
    </head>
    <body>
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>
        <div id="my-page">
        {{> components/common/header }}
        {{> components/common/body }}
        {{> components/common/footer }}
        </div>
        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
        <script>
            {{!-- Exported in app.js --}}
            window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
        </script>

        {{{footer.scripts}}}
        {{> components/custom/popup-subscribe }}
        {{> components/custom/addition-to-footer }}
        {{> components/custom/menu-mobile }}

        {{#block 'page_addition'}} {{/block}}
    </body>
</html>
