/*
@mixin clear-sans {
    @font-face {
        font-family: "Clear Sans";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/clearsans-regular-webfont.woff2") format("woff2"),
            url("../fonts/clearsans-regular-webfont.woff") format("woff");
    }

    @font-face {
        font-family: "Clear Sans";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/clearsans-bold-webfont.woff2") format("woff2"),
            url("../fonts/clearsans-bold-webfont.woff") format("woff");
    }
}
*/
