{{#if theme_settings.show_product_quantity_box}}
    <div class="form-field form-field--increments">
        <label class="form-label form-label--alternate"
               for="qty[]">{{lang 'products.quantity'}}</label>
            <div class="form-increment" data-quantity-change>
                <button class="button button--icon" data-action="dec">
                    <span class="is-srOnly">{{lang 'products.quantity_decrease'}}</span>
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-keyboard-arrow-down"/>
                        </svg>
                    </i>
                </button>
                <input class="form-input form-input--incrementTotal"
                       id="qty[]"
                       name="qty[]"
                       type="tel"
                       value="{{#if product.min_purchase_quantity}}{{product.min_purchase_quantity}}{{else}}1{{/if}}"
                       data-quantity-min="{{product.min_purchase_quantity}}"
                       data-quantity-max="{{product.max_purchase_quantity}}"
                       min="1"
                       pattern="[0-9]*"
                       aria-live="polite">
                <button class="button button--icon" data-action="inc">
                    <span class="is-srOnly">{{lang 'products.quantity_increase'}}</span>
                    <i class="icon" aria-hidden="true">
                        <svg>
                            <use xlink:href="#icon-keyboard-arrow-up"/>
                        </svg>
                    </i>
                </button>
            </div>
    </div>
{{/if}}

<div class="alertBox productAttributes-message" style="display:none">
    <div class="alertBox-column alertBox-icon">
        <icon glyph="ic-success" class="icon" aria-hidden="true"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path></svg></icon>
    </div>
    <div class="alertBox-column alertBox-availability">
        <p class="alertBox-column alertBox-message"></p>
        {{! Displays availability message if chosen variant is out of stock }}
        <p>{{product.availability}}</p>
    </div>
</div>
<div class="centermobile">
{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
    <div class="form-action">
        <div class="addtocart-wrap">
            {{#if product.can_purchase}}
            <button id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary">
                {{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}} <span class="iconify" data-icon="simple-line-icons:arrow-right" data-inline="false"></span>
            </button>
            <a id="stockNotifyform" style="display:none;"  class="button button--primary"><span><i class="far fa-envelope"></i> NOTIFY ME</span></a>
            {{else}}
            <button id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--primary" style="display:none;" disabled>
                {{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}} <span class="iconify" data-icon="simple-line-icons:arrow-right" data-inline="false"></span>
            </button>
            <a id="stockNotifyform"   class="button button--primary"><span><i class="far fa-envelope"></i> NOTIFY ME</span></a>
            {{/if}}

            <a href="/dealers" class="button button--secondary">FIND A DEALER  <span class="iconify" data-icon="simple-line-icons:arrow-right" data-inline="false"></span></a>
        </div>
    </div>
{{/or}}
    
</div>
