<section class="productCarousel"
    data-list-name="{{list}}"
    data-slick='{
        "dots": true,
        "slidesToShow": 4,
        "slidesToScroll": 1,
        "slide": ".js-product-slide",
        "prevArrow": ".js-product-prev-arrow",
        "nextArrow": ".js-product-next-arrow",
        "responsive": [
            {
                "breakpoint": 1000,
                "settings": {
                    "slidesToShow": 2,
                    "slidesToScroll": 1
                }
            },

            {
                "breakpoint": 738,
                "settings": {
                    "slidesToShow": 1,
                    "slidesToScroll": 1
                }
            }
        ]
    }'>
    {{#if products.length '>' 1}}
    <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}" class="js-product-prev-arrow slick-prev slick-arrow"></button>
    {{/if}}
    {{#each products}}
    <div class="productCarousel-slide js-product-slide">
        {{> components/products/card settings=../settings theme_settings=../theme_settings customer=../customer event="list" position=(add @index 1)}}
    </div>
    {{/each}}
    {{#if products.length '>' 1}}
    <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{products.length}}" class="js-product-next-arrow slick-next slick-arrow"></button>
    {{/if}}
</section>
