<div class="wide">
    <div class="container">
        
        <div class="productView" {{#if settings.data_tag_enabled}} data-event-type="product" data-entity-id="{{product.id}}" data-name="{{product.title}}" data-product-category="{{#each product.category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{product.brand.name}}" data-product-price="{{#if product.price.with_tax}}{{product.price.with_tax.value}}{{else}}{{product.price.without_tax.value}}{{/if}}" data-product-variant="single-product-option"{{/if}}>
        
            {{#each product.reviews.messages}}
                {{#if error}}
                {{> components/common/alert/alert-error error}}
                {{/if}}
                {{#if success}}
                {{> components/common/alert/alert-success success}}
                {{/if}}
            {{/each}}

            {{! Intro Section with headline, pricing and SKU }}
            <section class="productView-details" id="product-title">

                <div class="productView-product">
    
                    <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
    
                    {{#if product.call_for_price}}
                    <p class="productView-price">
                        <span>{{product.call_for_price}}</span>
                    </p>
                    {{/if}}
    
                    <p class="productView-info-value" id="productView-info-value" {{#if schema}} itemprop="sku"{{/if}}><span id="sku-cat">SKU:</span> <span id="productView-info-value-sku" data-product-sku>{{product.sku}}</span> | FREE U.S. shipping on all orders over $50!</p>
    
                    <div class="productView-price">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                        {{> components/products/price price=product.price schema_org=schema}}
                        {{else}}
                        {{> components/common/login-for-pricing}}
                        {{/or}}
                    </div>
                </div> <!--/productView-product-->
            </section>
            {{! Product details and add to cart }}
            <section class="productView-details" id="product-bullets">
            {{{region name="product_below_price"}}}
                {{product.detail_messages}}
                <dl class="productView-info">
                    {{#all product.weight theme_settings.show_product_weight}}
                    <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                    <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                    {{/all}}
                    {{#all product.width product.height product.depth theme_settings.show_product_dimensions}}
                    <dt class="productView-info-name">{{lang 'products.width'}}</dt>
                    <dd class="productView-info-value" data-product-width>
                        {{product.width}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.height'}}</dt>
                    <dd class="productView-info-value" data-product-height>
                        {{product.height}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    <dt class="productView-info-name">{{lang 'products.depth'}}</dt>
                    <dd class="productView-info-value" data-product-depth>
                        {{product.depth}}
                        {{#if settings.measurements.length '==' 'Centimeters'}}
                        ({{lang 'products.measurement.metric'}})
                        {{else}}
                        ({{lang 'products.measurement.imperial'}})
                        {{/if}}
                    </dd>
                    {{/all}}
                    {{#if product.min_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                    {{/if}}
                    {{#if product.max_purchase_quantity}}
                    <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                    {{/if}}
                    {{#if product.gift_wrapping_available}}
                    <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                    {{/if}}
                    {{#if product.shipping}}
                    {{#if product.shipping.calculated}}
                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                    {{else}}
                    {{#if product.shipping.price.value '===' 0}}
                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                    {{else}}
                    <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                    <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                    {{/if}}
                    {{/if}}
                    {{/if}}
    
                    {{#if settings.bulk_discount_enabled}}
                    <div class="productView-info-bulkPricing">
                        {{> components/products/bulk-discount-rates bulk_discount_rates=product.bulk_discount_rates}}
                    </div>
                    {{/if}}
                </dl>
                <div class="productView-options">
                    {{#if product.release_date }}
                    <p>{{product.release_date}}</p>
                    {{/if}}
                    <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data"
                        data-cart-item-add>
                        <input type="hidden" name="action" value="add">
                        <input type="hidden" name="product_id" value="{{product.id}}"/>
                        <div data-product-option-change style="display:none;" class="product-options">
                            {{#each product.options}}
                            {{{dynamicComponent 'components/products/options'}}}
                            {{/each}}
                        </div>
    
                        <div class="form-field form-field--stock" {{#unless product.stock_level}}style="display:none;"{{/unless}}>
                            <label class="form-label form-label--alternate">
                                {{lang 'products.current_stock'}}
                                <span data-product-stock>{{product.stock_level}}</span>
                            </label>
                        </div>
    
    
                        {{> components/products/add-to-cart}}
    
                        {{#if product.out_of_stock}}
                            {{#if product.out_of_stock_message}}
                                {{> components/common/alert/alert-error product.out_of_stock_message}}
                            {{else}}
                                {{> components/common/alert/alert-error (lang 'products.sold_out')}}
                            {{/if}}
                        {{/if}}
                    </form>
                </div>
                {{#if theme_settings.show_product_sharing}}
                {{> components/common/share}}
                {{/if}}
                <div class="text-area--custom product-bullets">
                    <div>
                        {{#if product.warranty}}
                        {{{product.warranty}}}
                        {{/if}}
                    </div>
                </div>
            </section>

            {{! Custom Product Gallery }}
            <section class="productView-images" id="product-gallery" data-image-gallery>
                {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
                <div id="gallery" style="display:none;" >

                    {{#each product.images}}
                    {{#if @first}}
                    <img id ="firstImage" src="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}" data-image="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}" data-description="{{this.alt}}">
                    {{/if}}
                    {{/each}}
        
                    {{#each product.videos}}
                    {{#if title_long}}
                    <img alt="{{title_long}}"
                         data-type="youtube"
                         src="//i.ytimg.com/vi/{{id}}/hqdefault.jpg"
                         data-image="//i.ytimg.com/vi/{{id}}/hqdefault.jpg"
                         data-videoid="{{id}}"
                         data-description="{{description_short}}">
                    {{/if}}
                    {{/each}}
        
                    {{#each product.images}}
                    {{#unless @first}}
                    <img src="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}" data-image="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}" data-description="{{this.alt}}">
                    {{/unless}}
                    {{/each}}
                </div>
            </section>
        </div><!-- / .productView-->
    </div><!-- / .wide > .container -->
</div><!-- / .wide -->
<section class="container overflow" id="product-details">

    <div>
        <h2>Overview</h2>
        <div class="">
            {{{ product.description }}}
        </div>
    </div>

    <div>
        <h2>Specifications</h2>
        <dl class="">
            {{#each product.custom_fields}}
            <dt>{{name}}:</dt>
            <dd>{{{value}}}</dd>
            {{/each}}
        </dl>
    </div>
    
</section>