{{#if reviews.total}}
<section >
            {{#if reviews.length '>' 1}}
            <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{reviews.length}}" class="js-review-prev-arrow slick-prev slick-arrow"></button>
            {{/if}}
        <ul id="product-reviews" data-product-reviews    class="reviewCarousel"
            data-list-name="{{list}}"
            data-slick='{
        "dots": true,
        infinite: true,
        "slidesToShow": 6,
        "slidesToScroll": 3,
        "slide": ".js-review-slide",
        "prevArrow": ".js-review-prev-arrow",
        "nextArrow": ".js-review-next-arrow"
    }'>
            {{#each reviews.list}}
            <li class=" reviewCarousel-slide js-review-slide">
                    <article itemprop="review" itemscope itemtype="http://schema.org/Review">
                        <header>
                            <h5 itemprop="name" class=" card-title">{{{ sanitize title }}}</h5>
                            {{#if name}}
                                <meta itemprop="author" content="{{name}}">
                                <p class="productReview-author">
                                    {{{lang 'products.reviews.post_on_by' date=date name=(sanitize name) }}}
                                </p>
                            {{else}}
                                <p class="productReview-author">
                                    {{lang 'products.reviews.post_on_by' date=date name=(lang 'products.reviews.anonymous_poster')}}
                                </p>
                            {{/if}}
                        </header>
                        <p i>{{{ sanitize text }}}</p>
                        <span class="productReview-rating rating--small" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                                {{> components/products/ratings rating=rating}}
                                <span class="productReview-ratingNumber" itemprop="ratingValue">{{ rating }}</span>
                            </span>
                    </article>
            </li>
            {{/each}}
            {{#if reviews.length '>' 1}}
            <button aria-label="{{lang 'carousel.arrowAriaLabel'}} {{reviews.length}}" class="js-review-prev-arrow slick-prev slick-arrow"></button>
            {{/if}}
        </ul>
</section>
{{/if}}
