{{#if product.related_products}}
<section id="tabs">
    <div>
        <ul class="tabs" data-tab role="tablist">
         
                <li class="tab is-active" role="presentational">
                    <a class="tab-title" href="#tab-related" role="tab" tabindex="0" aria-selected="true" controls="tab-related">{{lang 'products.related_products'}}</a>
                </li>
        </ul>
     
        <div class="tabs-contents">
        
            <div role="tabpanel" aria-hidden="false" class="tab-content has-jsContent is-active" id="tab-related">
                {{#if settings.data_tag_enabled}}
                    {{> components/products/carousel products=product.related_products columns=4 list="Related Products"}}
                {{else}}
                    {{> components/products/carousel products=product.related_products columns=4}}
                {{/if}}
            </div>
         
        </div>
        
    </div>
</section>
{{/if}}
